{{define "main"}}
{{ if eq .RelPermalink "/categories/" }}
    {{range $.Site.Taxonomies.categories.ByCount}}
    <a class="categories-count" href="/categories/{{.Name}}">
        #{{.Name}} <small>{{.Count}}</small>
    </a>
    {{end}}
{{ else }}
<div class="list">
  {{ range .Paginator.Pages }}
    <div class="list-item">
        <img src={{ .Params.image }} alt={{.Title}} class="list-item__image" loading="lazy">
        <div class="list-item__text">
            <h1 class="list-item__title">
                <a href={{ .Permalink }}>{{ .Title }}</a>
            </h1>
            <p class="list-item__desc">
                {{ .Params.description }}
            </p>
            <div class="list-item__detail">
            <img src={{ .Params.avatar }} alt="" class="list-item__avatar" loading="lazy">
                <span>
                {{range .GetTerms "authors"}}
                <a class="list-item__author" href={{.Permalink}}>{{.Name}}</a>
                {{end}}
                </span>
                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </div>
            <ul class="list-item__categories">
                {{range .GetTerms "categories"}}
                <li><a class="list-item__category" href={{.Permalink}}>{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
  {{ end }}
</div>
{{ end }}
{{ end }}